﻿@model ToDoApp.Data.Entities.Note
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <form>
    <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title) <br />

                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description) <br />

                @Html.LabelFor(model => model.IsDone)
                @Html.EditorFor(model => model.IsDone) <br />

                @Html.LabelFor(model => model.DueDate)
                @Html.EditorFor(model => model.DueDate) <br />

                <input type="submit" name="Create" value="Save" />
                @Html.ActionLink("Cance", "Index", "Notes")
    </div>
 </form>
}