﻿@model  List<ToDoApp.Data.Entities.Note>
@{
    ViewBag.Title = "Index";
}

<h2>Notes</h2>
@Html.ActionLink("Create new", "Create", "Notes")
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Is Done</th>
        <th>Due Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.Description<td>
                <td>@note.IsDone<td>
                <td>@note.DueDate<td>
                <td><td>
            </tr>
        }
    </tbody>
</table>